<div class="animated fadeIn">    
    <h2 mat-dialog-title>Editar</h2>
  <div mat-dialog-content>           
          <mat-form-field class="example-full-width">                
            <input matInput placeholder="Descripcion" [(ngModel)]="recargoAdicional.descripcion">
            <button mat-button *ngIf="recargoAdicional.descripcion" matSuffix mat-icon-button aria-label="Clear" (click)="recargoAdicional.descripcion=''">
                <mat-icon>close</mat-icon>
            </button> 
          </mat-form-field>
          <!--
            <mat-form-field class="example-full-width">                
              <input matInput placeholder="Descripción para recortes" [(ngModel)]="recargoAdicional.description">
              <button mat-button  *ngIf="recargoAdicional.description" matSuffix mat-icon-button aria-label="Clear" (click)="recargoAdicional.description=''">
                  <mat-icon>close</mat-icon>
              </button> 
          </mat-form-field>
          -->
          
  </div><br>
  <div  class="modal-down">
      <div mat-dialog-actions>  
          <button mat-button class="btn-aceptar"  (click)="editarRecargoAdicional();" >EDITAR</button>
          <button  mat-button class="btn-cancelar"  (click)="onNoClick()"  >CANCELAR</button>
        </div>
  </div>  
</div>