<style>
  .flexboxCabecera {
    display: flex;
    flex-direction: row;
  }

  .flexboxCabeceraVertical {
    display: flex;
    flex-direction: column;
  }

  .container {
    order: 2;

  }

  .container2 {
    order: 2;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
</style>

<div class="animated fadeIn">
  <br><br>
  <h1 class="animated pulse">Mantenimiento a contabilización</h1><br>


  <mat-form-field class="selector">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder='Search' [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''"
      (click)="applyFilter(value)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="container mat-elevation-z8 animated lightSpeedIn">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="Transaccion">
        <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
        <td mat-cell *matCellDef="let element"> {{element.transaccion}} </td>
      </ng-container>

      <ng-container matColumnDef="Tipo de Contabilizacion">
        <th mat-header-cell *matHeaderCellDef class="encabezados"> Tipo De Contabilizacion </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoDeContabilizacion}} </td>
      </ng-container>

      <ng-container matColumnDef="Contabilidad Activa">
        <th mat-header-cell *matHeaderCellDef class="encabezados"> Contabilidad Activa </th>
        <td mat-cell *matCellDef="let element"> {{element.contabilidadActiva}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef class="encabezados2"></th>
        <td mat-cell *matCellDef="let element"><button class="btn" (click)="openDialog1()">
            <mat-icon style="color : rgb(21, 100, 165);">create</mat-icon>
          </button></td>
      </ng-container>


      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef class="encabezados2"></th>
        <td mat-cell *matCellDef="let element"><button class="btn" (click)="openDialog2()">
            <mat-icon style="color :rgb(238, 60, 48); ">delete</mat-icon>
          </button></td>
      </ng-container>

      <ng-container matColumnDef="ver">
        <th mat-header-cell *matHeaderCellDef class="encabezados2"></th>
        <td mat-cell *matCellDef="let element"><button class="btn">
            <mat-icon style="color :rgb(17, 84, 104); ">find_in_page</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator1 showFirstLastButtons></mat-paginator>
  </div><br>

  <!--
    <button class="btn-aceptar" (click)="openDialog3()" id="alta">Altas</button>
  -->
  <!--
    <button class="btn-danger" (click)="openDialog4()" id="alta">Estatus del prestamo</button>
  -->


</div>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    Pasos para dar de alta
  </mat-expansion-panel-header>

  <div class="contenedor">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Alta a Usuario</ng-template>


        <br>

        <mat-radio-group>
          <mat-radio-button color="primary" value="primero1">Resumida</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="primero2">Detallada</mat-radio-button>
        </mat-radio-group>

      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Estatus del prestamo</ng-template>

        <div class="flexboxCabeceraVertical">
          <div class="container2">
            <div class="flexboxCabecera">

              <div class="container2">
                <table mat-table [dataSource]="dataSource2">

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
                    <td mat-cell *matCellDef="let elementt"> {{elementt.position}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Transaccion">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
                    <td mat-cell *matCellDef="let elementt"> {{elementt.transaccion}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
                  </tr>
                </table>

                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator2 showFirstLastButtons>
                </mat-paginator>
              </div>

              <div class="container2">
                <table mat-table [dataSource]="dataSource3">

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Transaccion">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
                    <td mat-cell *matCellDef="let element"> {{element.transaccion}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns3;">
                  </tr>
                </table>

                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator3 showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>

          </div>

          <div class="container2">
            <table mat-table [dataSource]="dataSource4">

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <ng-container matColumnDef="Transaccion">
                <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
                <td mat-cell *matCellDef="let element"> {{element.transaccion}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns4; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;">
              </tr>

            </table>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator4 showFirstLastButtons>
            </mat-paginator>
          </div>

        </div>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Selección de situación jurídica</ng-template>

        <br>
        <mat-radio-group>
          <mat-radio-button color="primary" value="segundo1">Vigente</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="segundo2">Atrasado</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="segundo3">Vencido</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="segundo4">Ejecucion Judicial</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="segundo5">Castigado</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="segundo6">Anulados</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="segundo7">Cancelados</mat-radio-button>
        </mat-radio-group>

      </mat-step>

      <mat-step [stepControl]="fourFormGroup">
        <ng-template matStepLabel>Tipo de producto</ng-template>

        <div class="flexboxCabeceraVertical">
          <div class="container2">
            <div class="flexboxCabecera">
              <div class="container2">
                <table mat-table [dataSource]="dataSource5">

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
                    <td mat-cell *matCellDef="let elementt"> {{elementt.position}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Transaccion">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
                    <td mat-cell *matCellDef="let elementt"> {{elementt.transaccion}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
                  </tr>
                </table>

                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator5 showFirstLastButtons>
                </mat-paginator>
              </div>

              <div class="container2">
                <table mat-table [dataSource]="dataSource6">

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Transaccion">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
                    <td mat-cell *matCellDef="let element"> {{element.transaccion}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns3;">
                  </tr>
                </table>

                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator6 showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>

          <div class="container2">
            <table mat-table [dataSource]="dataSource7">

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <ng-container matColumnDef="Transaccion">
                <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
                <td mat-cell *matCellDef="let element"> {{element.transaccion}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;">
              </tr>

            </table>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator7 showFirstLastButtons>
            </mat-paginator>
          </div>

        </div>
      </mat-step>

      <mat-step [stepControl]="fiveFormGroup">
        <ng-template matStepLabel>Seleccion de Tipo producto</ng-template>

        <br>
        <mat-radio-group>
          <mat-radio-button color="primary" value="tercero1">Fiduciarios</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="tercero2">Automatico</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="tercero3">Emergente</mat-radio-button>
          <br><br>
          <mat-radio-button color="primary" value="tercero4">Consumo</mat-radio-button>
        </mat-radio-group>

      </mat-step>

      <mat-step [stepControl]="sixFormGroup">
        <ng-template matStepLabel>Productos</ng-template>

        <div class="flexboxCabeceraVertical">
          <div class="container2">
            <div class="flexboxCabecera">
              <div class="container2">
                <table mat-table [dataSource]="dataSource8">

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
                    <td mat-cell *matCellDef="let elementt"> {{elementt.position}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Transaccion">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
                    <td mat-cell *matCellDef="let elementt"> {{elementt.transaccion}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
                  </tr>
                </table>

                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator8 showFirstLastButtons>
                </mat-paginator>
              </div>

              <div class="container2">
                <table mat-table [dataSource]="dataSource9">

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Transaccion">
                    <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
                    <td mat-cell *matCellDef="let element"> {{element.transaccion}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns3;">
                  </tr>
                </table>

                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator9 showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>

          <div class="container2">
            <table mat-table [dataSource]="dataSource10">

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="encabezados"> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <ng-container matColumnDef="Transaccion">
                <th mat-header-cell *matHeaderCellDef class="encabezados"> Transaccion </th>
                <td mat-cell *matCellDef="let element"> {{element.transaccion}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;">
              </tr>

            </table>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" #paginator10 showFirstLastButtons>
            </mat-paginator>
          </div>

        </div>
      </mat-step>

      <mat-step [stepControl]="sevenFormGroup">
        <ng-template matStepLabel>Seleccion de producto</ng-template>

        <br>
        <mat-radio-group>
          <mat-radio-button color="primary" value="cuarto1">Fiduciario 1</mat-radio-button>
        </mat-radio-group>

      </mat-step>

    </mat-vertical-stepper>
  </div>

</mat-expansion-panel>