<div class="animated fadeIn">     
    <h2 mat-dialog-title>Agregar</h2>
  
  <div mat-dialog-content>           
          <mat-form-field >                
              <input matInput placeholder="Código" [(ngModel)]="tipoPrestamo.codigo">
              <button mat-button  *ngIf="tipoPrestamo.codigo" matSuffix mat-icon-button aria-label="Clear" (click)="tipoPrestamo.codigo=''">
                  <mat-icon>close</mat-icon>
              </button> 
          </mat-form-field>
          <mat-form-field class="example-full-width">                
            <input matInput placeholder="Descripción" [(ngModel)]="tipoPrestamo.descripcion">
            <button mat-button *ngIf="tipoPrestamo.descripcion" matSuffix mat-icon-button aria-label="Clear" (click)="tipoPrestamo.descripcion=''">
                <mat-icon>close</mat-icon>
            </button> 
          </mat-form-field>
  </div><br>
  <div  class="modal-down">
      <div mat-dialog-actions>  
          <button mat-button class="btn-aceptar" (click)="crearTipoPrestamo();" >AGREGAR</button>
          <button  mat-button class="btn-cancelar"  (click)="onNoClick()"  >CANCELAR</button>
        </div>
  </div>  
  </div>