<div class="animated fadeIn">     
  <h2 mat-dialog-title>Agregar</h2>

<div mat-dialog-content>           
        <mat-form-field >                
            <input matInput placeholder="Código" [(ngModel)]="tipoActivoCrediticio.codigo">
            <button mat-button  *ngIf="tipoActivoCrediticio.codigo" matSuffix mat-icon-button aria-label="Clear" (click)="tipoActivoCrediticio.codigo=''">
                <mat-icon>close</mat-icon>
            </button> 
        </mat-form-field>
        <mat-form-field class="example-full-width">                
          <input matInput placeholder="Descripción" [(ngModel)]="tipoActivoCrediticio.descripcion">
          <button mat-button *ngIf="tipoActivoCrediticio.descripcion" matSuffix mat-icon-button aria-label="Clear" (click)="tipoActivoCrediticio.descripcion=''">
              <mat-icon>close</mat-icon>
          </button> 
        </mat-form-field>
</div><br>
<div  class="modal-down">
    <div mat-dialog-actions>  
        <button mat-button class="btn-aceptar" (click)="crearTipoActivoCrediticio();" >AGREGAR</button>
        <button  mat-button class="btn-cancelar"  (click)="onNoClick()"  >CANCELAR</button>
      </div>
</div>  
</div>