<div class="animated fadeIn">
  <h2 mat-dialog-title>Agregar Ejecutivo Cuenta</h2>
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Código" [(ngModel)]="ejecutivoCuenta.codigo" pattern="[0-9]{1,3}">
      <button mat-button *ngIf="ejecutivoCuenta.codigo" matSuffix mat-icon-button aria-label="Clear"
        (click)="ejecutivoCuenta.codigo=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Código Empleado" [(ngModel)]="ejecutivoCuenta.codigoEmpleado" pattern="[0-9]{1,4}">
      <button mat-button *ngIf="ejecutivoCuenta.codigoEmpleado" matSuffix mat-icon-button aria-label="Clear"
        (click)="ejecutivoCuenta.codigoEmpleado=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre" [(ngModel)]="ejecutivoCuenta.nombre" maxlength="30">
      <button mat-button *ngIf="ejecutivoCuenta.nombre" matSuffix mat-icon-button aria-label="Clear"
        (click)="ejecutivoCuenta.nombre=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!--
        <mat-radio-group matInput aria-label="Status" [(ngModel)]="ejecutivoCuenta.status">
        <mat-radio-button value="A">A </mat-radio-button>
        <mat-radio-button value="I">I</mat-radio-button>
      </mat-radio-group>
      -->

    <!--
        <input matInput placeholder="Status (A o I)" [(ngModel)]="ejecutivoCuenta.status">
      <button mat-button *ngIf="ejecutivoCuenta.status" matSuffix mat-icon-button aria-label="Clear"
        (click)="ejecutivoCuenta.status=''">
        <mat-icon>close</mat-icon>
      </button>
      -->

    <!--
        <mat-radio-group matInput aria-label="Status" [(ngModel)]="ejecutivoCuenta.status">
        <mat-radio-button name="A value" matInput [(ngModel)]="ejecutivoCuenta.status" value="A">A </mat-radio-button>
        <br><br><br>
        <mat-radio-button name="I value" matInput [(ngModel)]="ejecutivoCuenta.status" value="I">I</mat-radio-button>
      </mat-radio-group>
      -->

    <!--
        <mat-radio-group [(ngModel)]="ejecutivoCuenta.status">
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
      -->

    <section class="example-full-width">
      <label id="example-radio-group-label">Status</label><br><br>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="ejecutivoCuenta.status">
        <mat-radio-button color="primary" class="example-margin" value="A">A &nbsp;&nbsp;&nbsp;&nbsp;
        </mat-radio-button>
        <mat-radio-button color="primary" class="example-margin" value="I">I</mat-radio-button>
      </mat-radio-group>
    </section>

  </div><br>
  <div class="modal-down">
    <div mat-dialog-actions>
      <button mat-button class="btn-aceptar" (click)="crearEjecutivoCuenta()">AGREGAR</button>
      <button mat-button class="btn-cancelar" (click)="onNoClick()">CANCELAR</button>
    </div>
  </div>
</div>