<div class="animated fadeIn">
    <h2 mat-dialog-title>Ejecutivo Cuenta</h2>
    <div mat-dialog-content class="modal-down1">
        <mat-form-field>
            <input matInput placeholder="Code" disabled [(ngModel)]="ejecutivoCuenta.code">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="ErrorCore" disabled [(ngModel)]="ejecutivoCuenta.errorCore">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Status" disabled [(ngModel)]="ejecutivoCuenta.status">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Codigo" disabled [(ngModel)]="ejecutivoCuenta.codigo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Codigo Empleado" disabled [(ngModel)]="ejecutivoCuenta.codigoEmpleado">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Nombre" disabled [(ngModel)]="ejecutivoCuenta.nombre">
        </mat-form-field>
        
    </div><br>
    <div class="modal-down">
        <div mat-dialog-actions>
            <button mat-button class="btn-cancelar" (click)="onNoClick()">CERRAR</button>
        </div>
    </div>
</div>