<div class="animated fadeIn">
  <br><br>
  <h1 class="animated pulse">Consultas</h1><br>

  <h3 style="margin-left: 20%">Tipo Producto: ---</h3>
  <h3 style="margin-left: 20%">Producto: ---</h3>

  <mat-form-field class="selector">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder='Search' [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''"
      (click)="applyFilter(value)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="container mat-elevation-z8 animated lightSpeedIn">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="columna">
        <th mat-header-cell *matHeaderCellDef class="encabezados"> Columna </th>
        <td mat-cell *matCellDef="let element"> {{element.columna}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion1">
        <th mat-header-cell *matHeaderCellDef class="encabezados"> Descripción 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion1}} </td>
      </ng-container>

      <ng-container matColumnDef="campo1">
        <th mat-header-cell *matHeaderCellDef class="encabezados"> Campo </th>
        <td mat-cell *matCellDef="let element"> {{element.campo1}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion2">
        <th mat-header-cell *matHeaderCellDef class="encabezados"> Descripción 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion2}} </td>
      </ng-container>

      <ng-container matColumnDef="campo2">
        <th mat-header-cell *matHeaderCellDef class="encabezados"> Campo </th>
        <td mat-cell *matCellDef="let element"> {{element.campo2}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef class="encabezados2"></th>
        <td mat-cell *matCellDef="let element"><button class="btn" (click)="openDialog1()">
            <mat-icon style="color : rgb(21, 100, 165);">create</mat-icon>
          </button></td>
      </ng-container>


      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef class="encabezados2"></th>
        <td mat-cell *matCellDef="let element"><button class="btn" (click)="openDialog2()">
            <mat-icon style="color :rgb(238, 60, 48); ">delete</mat-icon>
          </button></td>
      </ng-container>

      <ng-container matColumnDef="ver">
        <th mat-header-cell *matHeaderCellDef class="encabezados2"></th>
        <td mat-cell *matCellDef="let element"><button class="btn">
            <mat-icon style="color :rgb(17, 84, 104); ">find_in_page</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div><br>

  <button mat-mini-fab (click)="openDialog3()" id="add">
    <mat-icon>add</mat-icon>
  </button><br><br>
</div>