<div>     
    <h2 mat-dialog-title>Agregar</h2>
  <div mat-dialog-content>           
          <mat-form-field >                
              <input matInput placeholder="Código" [(ngModel)]="value1">
              <button mat-button  *ngIf="value1" matSuffix mat-icon-button aria-label="Clear" (click)="value1=''">
                  <mat-icon>close</mat-icon>
              </button> 
          </mat-form-field>
          <mat-form-field class="example-full-width">                
            <input matInput placeholder="Descripción" [(ngModel)]="value2">
            <button mat-button *ngIf="value2" matSuffix mat-icon-button aria-label="Clear" (click)="value2=''">
                <mat-icon>close</mat-icon>
            </button> 
          </mat-form-field>
          <mat-form-field class="example-full-width">                
            <input matInput placeholder="Equivalencia CNBS" [(ngModel)]="value3">
            <button mat-button *ngIf="value3" matSuffix mat-icon-button aria-label="Clear" (click)="value3=''">
                <mat-icon>close</mat-icon>
            </button> 
          </mat-form-field>
          <mat-form-field class="example-full-width">                
            <input matInput placeholder="Mínimo Cuotas" [(ngModel)]="value4">
            <button mat-button *ngIf="value4" matSuffix mat-icon-button aria-label="Clear" (click)="value4=''">
                <mat-icon>close</mat-icon>
            </button> 
          </mat-form-field>
          <mat-form-field class="example-full-width">                
            <input matInput placeholder="Máximo Cuotas" [(ngModel)]="value4">
            <button mat-button *ngIf="value4" matSuffix mat-icon-button aria-label="Clear" (click)="value4=''">
                <mat-icon>close</mat-icon>
            </button> 
          </mat-form-field>
          <mat-form-field class="example-full-width">                
            <input matInput placeholder="Días para 360" [(ngModel)]="value5">
            <button mat-button *ngIf="value5" matSuffix mat-icon-button aria-label="Clear" (click)="value5=''">
                <mat-icon>close</mat-icon>
            </button> 
          </mat-form-field>          
          <mat-form-field class="example-full-width">                
            <input matInput placeholder="Factor div Flat" [(ngModel)]="value6">
            <button mat-button *ngIf="value6" matSuffix mat-icon-button aria-label="Clear" (click)="value6=''">
                <mat-icon>close</mat-icon>
            </button> 
          </mat-form-field>
          <section class="example-section">
            <label class="example-margin">Calcula cuot/Niv: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br>
            <mat-radio-group [(ngModel)]="labelPosition">
              <br>
              <mat-radio-button class="example-margin" value="si">Si &nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
              <mat-radio-button class="example-margin" value="no">No</mat-radio-button>
            </mat-radio-group>
          </section>
          <br>
  </div><br>
  <div  class="modal-down">
      <div mat-dialog-actions>  
          <button mat-button class="btn-aceptar" (click)="onNoClick()" (click)="openSnackBar()" >AGREGAR</button>
          <button  mat-button class="btn-cancelar"  (click)="onNoClick()"  >CANCELAR</button>
        </div>
  </div>  
</div>