<div>     
  <h2 mat-dialog-title>Agregar</h2>
<div mat-dialog-content>           
        <mat-form-field >                
            <input matInput placeholder="Código" [(ngModel)]="value1">
            <button mat-button  *ngIf="value1" matSuffix mat-icon-button aria-label="Clear" (click)="value1=''">
                <mat-icon>close</mat-icon>
            </button> 
        </mat-form-field>
        <mat-form-field class="example-full-width">                
          <input matInput placeholder="Descripción" [(ngModel)]="value2">
          <button mat-button *ngIf="value2" matSuffix mat-icon-button aria-label="Clear" (click)="value2=''">
              <mat-icon>close</mat-icon>
          </button> 
        </mat-form-field>
        <mat-form-field class="example-full-width">                
          <input matInput placeholder="Equivalencia en CNBS" [(ngModel)]="value3">
          <button mat-button *ngIf="value3" matSuffix mat-icon-button aria-label="Clear" (click)="value3=''">
              <mat-icon>close</mat-icon>
          </button> 
        </mat-form-field>
        <mat-form-field class="example-full-width">                
          <input matInput placeholder="Último correlativo asignado" value="0" disabled>          
        </mat-form-field>
</div><br>
<div  class="modal-down">
    <div mat-dialog-actions>  
        <button mat-button class="btn-aceptar" (click)="onNoClick()" (click)="openSnackBar()" >AGREGAR</button>
        <button  mat-button class="btn-cancelar"  (click)="onNoClick()"  >CANCELAR</button>
      </div>
</div>  
</div>