<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Sistema de Configuración Empresarial Financiero</h3>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <div class="form-group" id="buscar">
            <input type="text" class="form-control" id="buscador" placeholder="Buscar Mantenimiento">
        </div>
    </form>

<br>
    <div class="list">
        <ul class="siden">

            <li id=item>
                <a class="mantenimiento" [routerLink]="['/almacenadoras']">Almacenadoras</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/aseguradoras']">Aseguradoras</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/agrupacion-de-creditos']">Agrupacion de Creditos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/lugares-de-inversion']">Lugares de Inversion</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/ubicacion-de-la-garantia']">Ubicacion de la
                    Garantia</a>
            </li>

            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/origen-de-los-fondos']">Origen de los Fondos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/formas-de-pago']">Formas de Pago</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/destinos']">Destinos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/categorias-sib']">Categorias SIB</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/estatus-garantias-reales']">Estatus Garantias
                    Reales</a>
            </li>

            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/estatus-de-avaluos']">Estatus de Avalúos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/ingenieros-valuadores']">Ingenieros Valuadores</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/notarios']">Notarios</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/motivos-de-ajustes']">Motivos de Ajustes</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/dias-inhabiles']">Dias Inhabiles</a>
            </li>


            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/cobros-adicionales']">Cobros Adicionales</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/instituciones-cobros-adicionales']">Instituciones
                    Cobros
                    Adicionales</a>
            </li>
            <li id=item>
                <a  class="nav-link mantenimiento" [routerLink]="['/motivos-de-reversa']">Motivos de Reversa</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/formas-de-desembolso']">Formas de Desembolso</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/motivos-de-referencias-clientes']">Motivos de
                    Referencias
                    Clientes</a>
            </li>


            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/relacion-transacciones-depositos']">Relación
                    Transacciones Depósitos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/medios-de-contacto']">Medios de Contacto</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/canales-de-venta']">Canales de venta</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/tipos-de-canales-de-distribucion']">Tipos de Canales
                    de
                    Distribución</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/acercamientos']">Acercamientos</a>
            </li>


            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/asesores-de-prestamo']">Asesores de Prestamo</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/bancos']">Bancos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/tipos-de-deducciones']">Tipos de Deducciones</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/tipos-de-prestamos']">Tipos de Prestamos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/datos-generales']">Datos Generales</a>
            </li>


            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/tipos-de-transaccion']">Tipos de Transaccion</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/garantias-contables']">Garantias Contables</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/tipos-y-subtipos-de-garantias-reales']">Tipos y
                    Subtipos
                    de Garantias Reales</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/frecuencias-de-amortizacion']">Frecuencias de
                    Amortizacions</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/estados-de-prestamos']">Estados de Prestamos</a>
            </li>

            <li id=item>
                <a class="nav-link mantenimiento"
                    [routerLink]="['/parametrizacion-de-numero-de-prestamos']">Parametrizacion
                    de Numero de Prestamos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/pasos-del-cierre']">Pasos del Cierre</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/archivos-de-limpieza']">Archivos de Limpieza</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/limpieza-de-archivos']">Limpieza de Archivos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/productos']">Productos</a>
            </li>

            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/consultas']">Consultas</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/clasificacion']">Clasificacion</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/parametros-adicionales-por-producto']">Parametros
                    Adicionales por Producto</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/eventos-de-solicitudes']">Eventos de Solicitudes</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/documentos-a-presentar-por-producto']">Documentos a
                    Presentar por Producto</a>
            </li>

            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/montos-por-plazo']">Montos por Plazo</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/porcentajes-de-financiamiento']">Porcentajes de
                    Financiamiento</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/rango-de-plazas-por-interes']">Rango de Plazas por
                    Interes</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/definir-categorias-de-usuarios']">Definir Categorias
                    de
                    Usuarios</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/asignacion-de-categorias']">Asignacion de
                    Categorias</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/copiar-parametros-de-productos']">Copiar Parametros
                    de
                    Productos</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/estatus-legales']">Estatus Legales</a>
            </li>

            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/enlace-contabilidad']">Enlace Contabilidad</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/niveles-de-contabilizacion']">Niveles de
                    Contabilizacions</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/contenidos-contables']">Contenidos Contables</a>
            </li>
            <li id=item>
                <a class="nav-link mantenimiento" [routerLink]="['/mantenimiento-a-contabilizacion']">Mantenimiento a
                    Contabilizacion</a>
            </li>
        </ul>
        <label class="form-control" id="notFound">Sin Resultados</label>
    </div>
    
    <ul class="list-unstyled CTAs">
        <li>
            <a href="http://www.bytesw.com/" target="_blank" class="download">Visita la página oficial</a>
        </li>
        <li>
            <a href="" class="article">Test</a>
        </li>
    </ul>
</nav>