<div>
    <h2 mat-dialog-title>Origen De Fondos</h2>
    <div mat-dialog-content class="modal-down1" >   
        <mat-form-field >                
            <input matInput placeholder="Código" disabled [(ngModel)]="origenDeFondos.codigo">
        </mat-form-field>  
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Descripción" disabled [(ngModel)]="origenDeFondos.descripcion">
        </mat-form-field>   
        <mat-form-field >                
            <input matInput placeholder="Empresa" disabled [(ngModel)]="origenDeFondos.empresa">        
        </mat-form-field>  
        <mat-form-field >                
            <input matInput placeholder="Abreviatura" disabled [(ngModel)]="origenDeFondos.usuario">        
        </mat-form-field> 
        <mat-form-field >                
            <input matInput placeholder="Usuario" disabled [(ngModel)]="origenDeFondos.abreviatura">        
        </mat-form-field>     
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>
                <mat-form-field >                
                    <input matInput placeholder="Día Apertura" disabled [(ngModel)]="origenDeFondos.diaApertura">        
                </mat-form-field>    
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field >                
                    <input matInput placeholder="Mes Apertura" disabled [(ngModel)]="origenDeFondos.mesApertura">        
                </mat-form-field>    
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field >                
                    <input matInput placeholder="Año Apertura" disabled [(ngModel)]="origenDeFondos.anioApertura">        
                </mat-form-field>    
            </mat-grid-tile>
           
          </mat-grid-list>
    </div><br>
    <div  class="modal-down">
        <div mat-dialog-actions>  
            <button  mat-button class="btn-cancelar"  (click)="onNoClick()"  >CERRAR</button>
          </div>
    </div>  
</div>