<div>
    <h2 mat-dialog-title>Agregar</h2>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Código" [(ngModel)]="medios.codigo">
            <button mat-button *ngIf="medios.codigo" matSuffix mat-icon-button aria-label="Clear" (click)="medios.codigo=''">
                  <mat-icon>close</mat-icon>
              </button>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Descripción" [(ngModel)]="medios.descripcion">
            <button mat-button *ngIf="medios.descripcion" matSuffix mat-icon-button aria-label="Clear" (click)="medios.descripcion=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div><br>
    <div class="modal-down">
        <div mat-dialog-actions>
            <button mat-button class="btn-aceptar" (click)="crearMedios()">AGREGAR</button>
            <button mat-button class="btn-cancelar" (click)="onNoClick()">CANCELAR</button>
        </div>
    </div>
</div>