<div>
    <h2 mat-dialog-title>Agregar</h2>
    <div mat-dialog-content>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Usuario" [(ngModel)]="value1">
            <button mat-button *ngIf="value1" matSuffix mat-icon-button aria-label="Clear" (click)="value1=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-grid-list cols="3" rowHeight="35px">
            <mat-grid-tile>

                    <mat-form-field>
                            <mat-label>Categoria</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

            </mat-grid-tile>
            <mat-grid-tile>

                    <mat-form-field class="example-full-width-bank2-1">
                            <mat-label>Asesor de Prestamo</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

            </mat-grid-tile>
            <mat-grid-tile>

                    <mat-form-field class="example-full-width-bank2-1">
                            <mat-label>Agencia Asignada</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

            </mat-grid-tile>
        </mat-grid-list>
        
        



       
        
        Todas las Agencias
        <mat-form-field class="example-full-width-bank2-1">
            <input matInput placeholder="S/N" [(ngModel)]="value2">
            <button mat-button *ngIf="value2" matSuffix mat-icon-button aria-label="Clear" (click)="value2=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <br>
       

    </div><br>
    <div class="modal-down">
        <div mat-dialog-actions>
            <button mat-button class="btn-aceptar" (click)="onNoClick()" (click)="openSnackBar()">AGREGAR</button>
            <button mat-button class="btn-cancelar" (click)="onNoClick()">CANCELAR</button>
        </div>
    </div>
</div>