<br><br><h1>Parámetros adicionales por producto</h1><br>

<mat-tab-group style="margin-left : 10%; margin-right: 10%">

  <mat-tab label="Eventos de solicitudes"> 
    <app-eventos-solicitudes></app-eventos-solicitudes>
  </mat-tab>
  <mat-tab label="Documentos a presentar por producto"> 
    <app-documentos-presentar-producto></app-documentos-presentar-producto>  
  </mat-tab>
  <mat-tab label="Montos por plazo">
    <app-montos-por-plazo></app-montos-por-plazo>
  </mat-tab>
  <mat-tab label="Porcentaje de financiamiento">
    <app-porcentajes-de-financiamiento></app-porcentajes-de-financiamiento>
  </mat-tab>
  <mat-tab label="Rango de plazos por interes"> 
    <app-rango-plazos-interes></app-rango-plazos-interes>
  </mat-tab>
</mat-tab-group>