<mat-tab-group >
    <mat-tab label="Números Automáticos de Generación" color="primary" >  <button mat-fab color="primary" (click)="openDialog3()">Generar</button>  </mat-tab>
    <mat-tab label="Fechas del Sistema" color="primary" >  <button mat-fab color="primary" (click)="openDialog4()">Generar</button>  </mat-tab>
    <mat-tab label="Provisión (Devengado)" color="primary" >  <button mat-fab color="primary" (click)="openDialog5()">Generar</button>  </mat-tab>
    <mat-tab label="COnfiguración del sistema" color="primary" >  <button mat-fab color="primary" (click)="openDialog6()">Generar</button>  </mat-tab>
  
  </mat-tab-group>
  
  
  