.text {
    height: 150px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    float: right;
    display: flex;
    align-items: center;
}

.contenedor{
    margin-top: 250px;
}

img{
    width: 100%; /* en porcentaje (el highlight del foro lo trasforma) */
    height: 100%;
    position:fixed;
    z-index: -1;   
   //  width: 100%;
   // size: cover;
    //background-size: cover; 
    //background-attachment: fixed; 
    //background-position: center center; 
    //background-repeat: no-repeat;
    //background-color:rgb(215, 236, 229);
}





@import url('https://fonts.googleapis.com/css?family=Montserrat');


.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
	letter-spacing: 1px;
}

h1 {
    background-image: url(https://thumbs.gfycat.com/SilentBronzeGuineafowl-size_restricted.gif);
    //background-image: url(http://3.bp.blogspot.com/-p1lBKlXkcEQ/Udq2o13HuuI/AAAAAAAAA4Q/hAUcJ51wODY/s1600/EFECTO+AZUL.gif);
    
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 210px;
	line-height: 2.75;
	margin: 5px 0;
}
/* styling my button */

.flecha-right{
    width:0px;
    height:0px;
    border-bottom:45px solid transparent;  /* izquierda flecha */
    border-top:45px solid transparent; /* derecha flecha */
    border-left:25px solid #0000FF; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
}


  
